[Unit]
Description=KMS activation using vlmcsd
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/vlmcsd -D -p /var/run/vlmcsd/vlmcsd.pid
Restart=on-abort
KillSignal=SIGTERM
PIDFile=/run/vlmcsd/vlmcsd.pid
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
